@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #21143F;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --color-brand: #6E42E5;
  --color-brand-dark: #572AC8;
  --color-brand-darker: #21143F;
  --color-brand-blue: #00539A;
  --color-brand-green: #0D6027;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), "Poppins fallback", sans-serif;
}
